#%RAML 1.0
annotationTypes:
  serviceName: any
  publicDocsPath: any
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-tags-definition:
    allowedTargets: API
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  errors: any
  requestValidationIssues: any
  oas-readOnly:
    type: boolean
    allowedTargets: TypeDeclaration
  publicDocsSchemaName: any
  oas-schema-title:
    type: string
    allowedTargets: TypeDeclaration
  visibility: any
  links: any
  oas-format:
    type: string
    allowedTargets: TypeDeclaration
  enum: any
  pattern: any
  oas-responses-default:
    type: any
    allowedTargets: Method
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-summary:
    type: string
    allowedTargets: Method
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  slo: any
title: PayPal Orders v2
description: 'Use the Orders API to create, update, show details for, authorize and capture payments for, save, and void orders.'
version: '2.0'
(oas-info):
  (serviceName): checkoutsellerplatserv
  (publicDocsPath): orders
(oas-tags-definition):
  - name: orders
    description: 'Use the `/orders` resource to create, update, show details for, authorize and capture payments for, save, and void orders.'
mediaType: application/json
protocols:
  - HTTPS
baseUri: 'https://api.paypal.com/v2/checkout'
(oas-externalDocs):
  url: ../doc/USERGUIDE.md
(errors):
  - name: ACTION_DOES_NOT_MATCH_INTENT
    message: Order was created with an intent to `CAPTURE`.
    description: 'To complete the transaction, call [capture payment for order](/docs/limited-release/orders/api/#orders_capture) or create an order with an intent of `AUTHORIZE`.'
  - name: AGREEMENT_ALREADY_CANCELLED
    message: The requested agreement is already cancelled.
    description: The specified agreement ID cannot be used for this transaction.
  - name: AMOUNT_MISMATCH
    message: The amount specified does not match the breakdown.
    description: The amount must equal `item_total` + `tax_total` + `shipping` + `handling` + `insurance` - `shipping_discount`.
  - name: AUTHENTICATION_FAILURE
    message: 'Authentication failed due to missing authorization header, or invalid authentication credentials.'
    description: Account validations failed for the user.
  - name: BILLING_AGREEMENT_NOT_FOUND
    message: The requested Billing Agreement token was not found.
    description: Verify the token and try the request again.
  - name: CANNOT_BE_NEGATIVE
    message: Must be greater than or equal to zero.
    description: Try the request again with a different value.
  - name: CANNOT_BE_ZERO_OR_NEGATIVE
    message: Must be greater than zero.
    description: Try the request again with a different value.
  - name: CITY_REQUIRED
    message: The specified country requires a city (`address.admin_area_2`).
    description: Specify a city and try the request again.
  - name: COMPLIANCE_VIOLATION
    message: Transaction cannot be processed due to a possible compliance violation.
    description: 'To get more information about the transaction, call customer support.'
  - name: CONSENT_NEEDED
    message: Authorization failed due to insufficient permissions.
    description: 'To continue with this transaction, payer consent is required.'
  - name: DECIMAL_PRECISION
    message: The value of the field should not be more than two decimal places.
    description: Verify the number of decimal places and try the request again.
  - name: DOMESTIC_TRANSACTION_REQUIRED
    message: This transaction requires the payee and payer to be resident in the same country.
    description: 'To create this payment, a domestic transaction is required.'
  - name: DUPLICATE_INVOICE_ID
    message: Duplicate Invoice ID detected.
    description: 'To avoid a duplicate transaction, verify that the invoice ID is unique for each transaction.'
  - name: DUPLICATE_REQUEST_ID
    message: The value of PayPal-Request-Id header has already been used.
    description: Try a different value and try the request again.
  - name: INSTRUMENT_DECLINED
    message: The funding instrument presented was either declined by the processor or bank.
    description: The specified funding instrument cannot be used for this payment.
  - name: INTERNAL_SERVER_ERROR
    message: An internal server error has occurred.
    description: Retry the request later.
  - name: INVALID_ACCOUNT_STATUS
    message: Account validations failed for the user.
    description: 'To continue with this transaction, payer consent is required.'
  - name: INVALID_COUNTRY_CODE
    message: Country code is invalid.
    description: 'For list of supported country codes, see [Country and Region Codes](/docs/integration/direct/rest/country-codes/).'
  - name: INVALID_CURRENCY_CODE
    message: Currency code is invalid or is not currently supported.
    description: 'For a list of supported currency codes, see [Currency Codes](/docs/integration/direct/rest/currency-codes/).'
  - name: INVALID_JSON_POINTER_FORMAT
    message: 'Path should be a valid [JavaScript Object Notation (JSON) Pointer](https://tools.ietf.org/html/rfc6901) that references a location within the request where the operation is performed.'
    description: The path is not valid.
  - name: INVALID_PARAMETER
    message: Cannot be specified as part of the request.
    description: Check that the API supports this parameter and try the request again.
  - name: INVALID_PARAMETER_SYNTAX
    message: The value of a field does not conform to the expected format.
    description: Verify that the pattern is supported and try the request again.
  - name: INVALID_PARAMETER_VALUE
    message: The value of a field is invalid.
    description: Verify the parameter value and try the request again.
  - name: INVALID_PAYER_ID
    message: The payer ID is not valid.
    description: Verify the payer ID and try the request again.
  - name: INVALID_RESOURCE_ID
    message: Specified resource ID does not exist.
    description: Verify the resource ID and try the request again.
  - name: INVALID_STRING_LENGTH
    message: The value of a field is either too short or too long.
    description: Verify the minimum and maximum values and try the request again.
  - name: ITEM_TOTAL_MISMATCH
    description: Should equal sum of (`unit_amount` * `quantity`) across all items for a given `purchase_unit`.
    message: Verify the corresponding values and try the request again.
  - name: ITEM_TOTAL_REQUIRED
    message: If item details are specified (`items.unit_amount` and `items.quantity`) corresponding `amount.breakdown.item_total` is required.
    description: The `amount.breakdown.item_total` value was not found.
  - name: MAX_NUMBER_OF_PAYMENT_ATTEMPTS_EXCEEDED
    message: You have exceeded the maximum number of payment attempts.
    description: 'To review the maximum number of payment attempts allowed and retry this transaction, call customer support.'
  - name: MAX_VALUE_EXCEEDED
    message: Should be less than or equal to 9999999.99.
    description: Try the request again with a different value.
  - name: MISSING_REQUEST_BODY
    message: Request body cannot be empty.
    description: Specify a request body and try the request again.
  - name: MISSING_REQUIRED_PARAMETER
    message: A required field or parameter is missing.
    description: Verify that you have specified all required parameters and try the request again.
  - name: MISSING_SHIPPING_ADDRESS
    message: The shipping address is required when `shipping_preference=SET_PROVIDED_ADDRESS`.
    description: Verify that you have provided the shipping address and try the request again.
  - name: MULTI_CURRENCY_ORDER
    message: Multiple differing values of `currency_code` are not supported.
    description: The entire order request must have the same currency code.
  - name: MULTIPLE_SHIPPING_ADDRESS_NOT_SUPPORTED
    message: Multiple shipping addresses are not supported.
    description: Try the request again with the same `shipping_address`.
  - name: NOT_AUTHORIZED
    message: Authorization failed due to insufficient permissions.
    description: 'To check that your application has sufficient permissions, log in to the PayPal Developer Portal.'
  - name: NOT_PATCHABLE
    message: Cannot be patched.
    description: You cannot patch this field.
  - name: NOT_SUPPORTED
    message: This field is not currently supported.
    description: Specify only supported parameters and try the request again.
  - name: ORDER_NOT_APPROVED
    message: Payer has not yet approved the Order for payment.
    description: 'The payer has not yet approved payment for the order. Redirect the payer to the `rel:approve` URL that was returned in the HATEOAS links in the create order response or provide a valid `payment_source` in the request.'
  - name: ORDER_ALREADY_AUTHORIZED
    message: Order already authorized. If 'intent=AUTHORIZE' only one authorization per order is allowed.
    description: The order was already authorized and you can create one authorization for an order.
  - name: ORDER_ALREADY_CAPTURED
    message: Order already captured. If 'intent=CAPTURE' only one capture per order is allowed.
    description: The order was already captured and you can capture only one payment for an order.
  - name: PARAMETER_VALUE_NOT_SUPPORTED
    message: The value specified for this field is not currently supported.
    description: The specified parameter value is not supported.
  - name: PATCH_VALUE_REQUIRED
    message: Please specify a 'value' to for the field that is being patched.
    description: Try your request again.
  - name: PATCH_PATH_REQUIRED
    message: Specify a `path` for the field for which the operation needs to be performed.
    description: 'To complete the operation for this field, specify a `path` for the field.'
  - name: PAYEE_ACCOUNT_INVALID
    message: Mismatch between request `payeeId` and `payeeEmail`.
    description: Specify either `payee.merchant_id` or `payee.email_address`.
  - name: PAYEE_ACCOUNT_LOCKED_OR_CLOSED
    message: Payee account is locked or closed.
    description: 'To get more information about the status of the account, call customer support.'
  - name: PAYEE_ACCOUNT_RESTRICTED
    message: The merchant account is restricted.
    description: 'To get more information about the status of the account, call customer support.'
  - name: PAYEE_BLOCKED_TRANSACTION
    message: The fraud settings for this seller are such that this payment cannot be executed.
    description: 'Verify the fraud settings. Then, retry the transaction.'
  - name: PAYER_ACCOUNT_LOCKED_OR_CLOSED
    message: Payer account is locked or closed.
    description: 'To get more information about the status of the account, call customer support.'
  - name: PAYER_ACCOUNT_RESTRICTED
    message: Payer account is restricted.
    description: 'To get more information about the status of the account, call customer support.'
  - name: PAYER_CANNOT_PAY
    message: The combination of payer and payee settings mean that this payer can't pay this payee.
    description: Verify the settings and try the request again.
  - name: PAYER_CONSENT_REQUIRED
    message: The payer has not provided appropriate consent to proceed with this transaction.
    description: 'To proceed with the transaction, you must get payer consent.'
  - name: PAYMENT_INSTRUCTION_REQUIRED
    message: You must provide the payment instruction when you capture an authorized payment for `intent=AUTHORIZE`.
    description: 'For details, see <a href="/docs/api/payments/#authorization_capture">Capture authorization</a>. For `intent=CAPTURE`, send the payment instruction when you create the order.'
  - name: PERMISSION_DENIED
    message: You do not have permission to access or perform operations on this resource.
    description: 'If you are make API calls on behalf of a merchant or payee, ensure that you have been granted appropriate permissions to continue with this request.'
  - name: POSTAL_CODE_REQUIRED
    message: The specified country requires a postal code.
    description: Specify a postal code and try the request again.
  - name: REDIRECT_PAYER_FOR_ALTERNATE_FUNDING
    message: Transaction failed. Redirect the payer to select another funding source.
    description: The transaction failed. Redirect the payer to select another funding source.
  - name: REFERENCE_ID_NOT_FOUND
    message: Filter expression value is incorrect.
    description: Check the value of the `reference_id` and try the request again.
  - name: TAX_TOTAL_MISMATCH
    message: Should equal sum of (`tax` * `quantity`) across all items for a given `purchase_unit`.
    description: The tax total must equal the sum of (`tax` * `quantity`) across all items for a `purchase_unit`.
  - name: TAX_TOTAL_REQUIRED
    message: 'If item details are specified (`items.tax_total` and `items.quantity`), the corresponding `amount.breakdown.tax_total` is required.'
    description: The `amount.breakdown.tax_total` is a required field.
  - name: TRANSACTION_AMOUNT_EXCEEDS_MONTHLY_MAX_LIMIT
    message: The transaction amount exceeds monthly maximum limit.
    description: 'To review the monthly transaction limits and retry this transaction, call customer support.'
  - name: TRANSACTION_LIMIT_EXCEEDED
    message: Total payment amount exceeded transaction limit.
    description: 'To review the transaction limit and retry this transaction, call customer support.'
  - name: TRANSACTION_RECEIVING_LIMIT_EXCEEDED
    message: The transaction exceeds the payee's receiving limit.
    description: 'To review the transaction limit and retry this transaction, call customer support.'
  - name: TRANSACTION_REFUSED
    message: The transaction was refused.
    description: Verify the transaction and try the request again.
  - name: UNSUPPORTED_PATCH_PARAMETER_VALUE
    message: The value specified for this field is not currently supported.
    description: Try the request again with a different value.
  - name: UNSUPPORTED_PAYMENT_INSTRUCTION
    message: Only supported when the `intent=CAPTURE`.
    description: 'If intent is `AUTHORIZE`, you must provide a `payment_instruction` when you capture payment for the authorization. For details, see [capture authorized payment](/docs/limited-release/payments/api/#authorizations_capture).'
  - name: VALUE_REQUIRED
    message: Specify a `value to` for the field that is being patched.
    description: You must specify `value to` for this request.
(requestValidationIssues): []
securitySchemes:
  Oauth2:
    description: Oauth 2.0 authentication
    type: OAuth 2.0
    settings:
      accessTokenUri: 'https://api.paypal.com/v1/oauth2/token'
      authorizationGrants:
        - client_credentials
      scopes:
        - 'https://uri.paypal.com/services/payments/payment'
        - 'https://uri.paypal.com/services/checkout/orders/readwrite'
types:
  order-json:
    description: The order details.
    type: MerchantsCommonComponentsSpecification-v1-schema-activity_timestamps-json
    properties:
      id:
        description: The ID of the order.
        type: string
        (oas-readOnly): true
      intent:
        type: MerchantsCommonComponentsSpecification-v1-schema-checkout_payment_intent-json
      payer:
        type: MerchantsCommonComponentsSpecification-v1-schema-payer-json
      purchase_units:
        description: An array of purchase units. Each purchase unit establishes a contract between a customer and merchant. Each purchase unit represents either a full or partial order that the customer intends to purchase from the merchant.
        minItems: 1
        maxItems: 10
        type: array
        items:
          description: A purchase unit. Establishes a contract between a customer and merchant.
          type: purchase_unit-json
          (publicDocsSchemaName): purchase_unit
      status:
        type: order_status-json
        (oas-readOnly): true
      links:
        description: 'An array of request-related [HATEOAS links](/docs/api/overview/#hateoas-links). To complete payer approval, use the `approve` link with the `GET` method.'
        type: array
        items:
          description: 'A request-related [HATEOAS link](/docs/api/overview/#hateoas-links). To complete payer approval, use the `approve` link with the `GET` method.'
          type: MCCS-v1-schema-CC-v3-json-openapi-2-link_description-json
          (publicDocsSchemaName): link_description
        (oas-readOnly): true
    (oas-schema-title): Order
    (visibility):
      extent: LIMITED_RELEASE
    (links):
      - href: 'https://api.paypal.com/v2/checkout/orders/{id}'
        rel: self
        method: GET
      - href: 'https://api.paypal.com/v2/checkout/orders/{id}/refund'
        rel: refund
        method: POST
      - href: 'https://www.paypal.com/checkoutnow?token={id}'
        rel: approve
        method: POST
      - href: 'https://www.paypal.com/webapps/helios?action=resolve&flow=3ds&cart_id={id}'
        rel: 3ds-contingency-resolution
        method: GET
  MerchantsCommonComponentsSpecification-v1-schema-activity_timestamps-json:
    description: 'The date and time stamps that are common to authorized payment, captured payment, and refund transactions.'
    type: object
    properties:
      create_time:
        description: 'The date and time when the transaction occurred, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).'
        type: MCCS-v1-schema-CC-v3-json-openapi-2-date_time-json
        (oas-readOnly): true
      update_time:
        description: 'The date and time when the transaction was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).'
        type: MCCS-v1-schema-CC-v3-json-openapi-2-date_time-json
        (oas-readOnly): true
    (oas-schema-title): Transaction Date and Time Stamps
  MCCS-v1-schema-CC-v3-json-openapi-2-date_time-json:
    description: 'The date and time, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). Seconds are required while fractional seconds are optional.<blockquote><strong>Note:</strong> The regular expression provides guidance but does not reject all invalid dates.</blockquote>'
    minLength: 20
    maxLength: 64
    pattern: '^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$'
    type: string
    (oas-format): ppaas_date_time_v3
  MerchantsCommonComponentsSpecification-v1-schema-checkout_payment_intent-json:
    description: The intent to either capture payment immediately or authorize a payment for an order after order creation.
    type: string
    (oas-schema-title): Checkout Payment Intent
    (enum):
      - value: CAPTURE
        description: The merchant intends to capture payment immediately after the customer makes a payment.
      - value: AUTHORIZE
        description: 'The merchant intends to authorize a payment and place funds on hold after the customer makes a payment. Authorized payments are guaranteed for up to three days but are available to capture for up to 29 days. After the three-day honor period, the original authorized payment expires and you must re-authorize the payment. You must make a separate request to capture payments on demand.'
  MerchantsCommonComponentsSpecification-v1-schema-payer-json:
    description: The customer who approves and pays for the order. The customer is also known as the payer.
    type: object
    properties:
      name:
        description: The name of the payer. Supports only the `given_name` and `surname` properties.
        type: MCCS-v1-schema-CC-v3-json-openapi-2-name-json
      email_address:
        description: The email address of the payer.
        type: MerchantsCommonComponentsSpecification-v1-schema-email-json
      payer_id:
        description: The PayPal assigned ID for the payer.
        type: MCCS-v1-schema-CC-v3-json-openapi-2-payer_id-json
        (oas-readOnly): true
      phone:
        description: 'The phone number of the customer. Available only when you enable the **Contact Telephone Number** option in the <a href="https://www.paypal.com/cgi-bin/customerprofileweb?cmd=_profile-website-payments">**Profile & Settings**</a> for the merchant''s PayPal account. The `phone.phone_number` supports only `national_number`.'
        type: MerchantsCommonComponentsSpecification-v1-schema-phone_with_type-json
      birth_date:
        description: The birth date of the payer in `YYYY-MM-DD` format.
        type: MCCS-v1-schema-CC-v3-json-openapi-2-date_no_time-json
      tax_info:
        description: The tax information of the payer. Required only for Brazilian payer's. Both `tax_id` and `tax_id_type` are required.
        type: MerchantsCommonComponentsSpecification-v1-schema-tax_info-json
      address:
        description: 'The address of the payer. Supports only the `address_line_1`, `address_line_2`, `admin_area_1`, `admin_area_2`, `postal_code`, and `country_code` properties. Also referred to as the billing address of the customer.'
        type: MCCS-v1-schema-CC-v3-json-openapi-2-address_portable-json
    (oas-schema-title): Customer
  MCCS-v1-schema-CC-v3-json-openapi-2-name-json:
    description: The name of the party.
    type: object
    properties:
      prefix:
        description: 'The prefix, or title, to the party''s name.'
        maxLength: 140
        type: string
      given_name:
        description: 'When the party is a person, the party''s given, or first, name.'
        maxLength: 140
        type: string
      surname:
        description: 'When the party is a person, the party''s surname or family name. Also known as the last name. Required when the party is a person. Use also to store multiple surnames including the matronymic, or mother''s, surname.'
        maxLength: 140
        type: string
      middle_name:
        description: 'When the party is a person, the party''s middle name. Use also to store multiple middle names including the patronymic, or father''s, middle name.'
        maxLength: 140
        type: string
      suffix:
        description: The suffix for the party's name.
        maxLength: 140
        type: string
      alternate_full_name:
        description: 'DEPRECATED. The party''s alternate name. Can be a business name, nickname, or any other name that cannot be split into first, last name. Required when the party is a business.'
        maxLength: 300
        type: string
      full_name:
        description: 'When the party is a person, the party''s full name.'
        maxLength: 300
        type: string
    (oas-schema-title): Name
    (pattern):
      oneOf:
      - country_code: AD
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AF
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: AN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AX
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: AZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: BA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: BB
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BD
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BF
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: BH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BJ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BQ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: BY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: BZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CC
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CD
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CF
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[－\uFF21-\uFF3A\uFF3E\uFF40-\uFF5A\uFF07\u3000\u3400-\u4DB5\u4E00-\u9FCC\uF900-\uFA6D\uFA70-\uFAD9]|[\uD840-\uD868\uD86A-\uD86C][\uDC00-\uDFFF]|\uD86D[\uDC00-\uDF34\uDF40-\uDFFF]|\uD86E[\uDC00-\uDC1D]|\uD869[\uDC00-\uDED6\uDF00-\uDFFF]|\uD87E[\uDC00-\uDE1D]'
      - country_code: CO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CV
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: CZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: DE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: DJ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: DK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: DM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: DO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: DZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: EC
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: EE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: EG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: EH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ER
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ES
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ET
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: FI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: FJ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: FK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: FM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: FO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: FR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GB
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GD
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GF
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GP
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GQ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0342-\u0345\u037A-\u037D\u037F\u0384-\u0386\u0388-\u038A\u038C\u038E-\u03A1\u03A3-\u03D7\u03F3\u1F00-\u1F15\u1F18-\u1F1D\u1F20-\u1F45\u1F48-\u1F4D\u1F50-\u1F57\u1F59\u1F5B\u1F5D\u1F5F-\u1F7D\u1F80-\u1FB4\u1FB6-\u1FC4\u1FC6-\u1FD3\u1FD6-\u1FDB\u1FDD-\u1FEF\u1FF2-\u1FF4\u1FF6-\u1FFE]'
      - country_code: GT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: GY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: HK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[－\uFF21-\uFF3A\uFF3E\uFF40-\uFF5A\uFF07\u3000\u3400-\u4DB5\u4E00-\u9FCC\uF900-\uFA6D\uFA70-\uFAD9]|[\uD840-\uD868\uD86A-\uD86C][\uDC00-\uDFFF]|\uD86D[\uDC00-\uDF34\uDF40-\uDFFF]|\uD86E[\uDC00-\uDC1D]|\uD869[\uDC00-\uDED6\uDF00-\uDFFF]|\uD87E[\uDC00-\uDE1D]'
      - country_code: HN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: HR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: HT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: HU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ID
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: IE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: IL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0591-\u05C7\u05D0-\u05EA\u05F0-\u05F4\uFB1D-\uFB36\uFB38-\uFB3C\uFB3E\uFB40\uFB41\uFB43\uFB44\uFB46-\uFB4F]'
      - country_code: IM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: IN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: IQ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: IR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: IS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: IT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: JE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: JM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: JO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: JP
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u3005\uFF07\u3041-\u3096\u3099-\u309F\u30A1-\u30FF\u31F0-\u31FF\uFF65-\uFF9F\uFF0D\uFF21-\uFF3A\uFF3E\uFF40-\uFF5A\u3000\u3400-\u4DB5\u4E00-\u9FCC\uF900-\uFA6D\uFA70-\uFAD9]|[\uD840-\uD868\uD86A-\uD86C][\uDC00-\uDFFF]|\uD86D[\uDC00-\uDF34\uDF40-\uDFFF]|\uD86E[\uDC00-\uDC1D]|\uD869[\uDC00-\uDED6\uDF00-\uDFFF]|\uD87E[\uDC00-\uDE1D]'
      - country_code: KE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: KG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: KH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: KI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: KM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: KN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: KP
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: KR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[－\uFF21-\uFF3A\uFF3E\uFF40-\uFF5A\uFF07\u1100-\u11FF\u302E\u302F\u3131-\u318E\uAC00-\uD7A3\uFFA0-\uFFBE\uFFC2-\uFFC7\uFFCA-\uFFCF\uFFD2-\uFFD7\uFFDA-\uFFDC\u3000\u3400-\u4DB5\u4E00-\u9FCC\uF900-\uFA6D\uFA70-\uFAD9]|[\uD840-\uD868\uD86A-\uD86C][\uDC00-\uDFFF]|\uD86D[\uDC00-\uDF34\uDF40-\uDFFF]|\uD86E[\uDC00-\uDC1D]|\uD869[\uDC00-\uDED6\uDF00-\uDFFF]|\uD87E[\uDC00-\uDE1D]'
      - country_code: KW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: KY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: KZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: LA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: LB
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: LC
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: LI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: LK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: LR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: LS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: LT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: LU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: LV
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: LY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MC
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MD
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ME
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: MF
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: ML
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: MO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MP
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MQ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MV
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MX
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: MZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NC
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NF
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: 'NO'
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NP
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: NZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: OM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PF
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: PY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: QA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: RE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: RO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: RS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: RU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: RW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SB
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SC
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SD
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[－\uFF21-\uFF3A\uFF3E\uFF40-\uFF5A\uFF07\u3000\u3400-\u4DB5\u4E00-\u9FCC\uF900-\uFA6D\uFA70-\uFAD9]|[\uD840-\uD868\uD86A-\uD86C][\uDC00-\uDFFF]|\uD86D[\uDC00-\uDF34\uDF40-\uDFFF]|\uD86E[\uDC00-\uDC1D]|\uD869[\uDC00-\uDED6\uDF00-\uDFFF]|\uD87E[\uDC00-\uDE1D]'
      - country_code: SH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SJ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ST
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SV
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SX
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: SZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TC
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TD
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TH
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0E01-\u0E3A\u0E40-\u0E4F]'
      - country_code: TJ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: TK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TL
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: TN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TO
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TR
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TV
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: TW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[－\uFF21-\uFF3A\uFF3E\uFF40-\uFF5A\uFF07\u3000\u3400-\u4DB5\u4E00-\u9FCC\uF900-\uFA6D\uFA70-\uFAD9]|[\uD840-\uD868\uD86A-\uD86C][\uDC00-\uDFFF]|\uD86D[\uDC00-\uDF34\uDF40-\uDFFF]|\uD86E[\uDC00-\uDC1D]|\uD869[\uDC00-\uDED6\uDF00-\uDFFF]|\uD87E[\uDC00-\uDE1D]'
      - country_code: TZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: UA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[\u0400-\u0481\u048A-\u052F]'
      - country_code: UG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: US
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: UY
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: UZ
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: VA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: VC
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: VE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: VG
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: VI
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: VN
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: VU
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: WF
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: WS
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: XK
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: YE
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: YT
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ZA
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ZM
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: ZW
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]'
      - country_code: C2
        validation_regex: '[A-Za-z\xAA\xBA\xC0-\xD6\xD8-\xF6\u00F8-\u024F\u02B0-\u02DD\u02E0-\u02E4\u0300-\u0341\u0357-\u0361\u1E00-\u1EFF\u2C60-\u2C7F\uFB00-\uFB06\u0020\u0027\u002D\u002E\u002C]|[－\uFF21-\uFF3A\uFF3E\uFF40-\uFF5A\uFF07\u3000\u3400-\u4DB5\u4E00-\u9FCC\uF900-\uFA6D\uFA70-\uFAD9]|[\uD840-\uD868\uD86A-\uD86C][\uDC00-\uDFFF]|\uD86D[\uDC00-\uDF34\uDF40-\uDFFF]|\uD86E[\uDC00-\uDC1D]|\uD869[\uDC00-\uDED6\uDF00-\uDFFF]|\uD87E[\uDC00-\uDE1D]'
  MerchantsCommonComponentsSpecification-v1-schema-email-json:
    description: 'The internationalized email address.<blockquote><strong>Note:</strong> Up to 64 characters are allowed before and 255 characters are allowed after the <code>@</code> sign. However, the generally accepted maximum length for an email address is 254 characters. The pattern verifies that an unquoted <code>@</code> sign exists.</blockquote>'
    maxLength: 254
    pattern: '(?:[a-zA-Z0-9!#$%&''*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&''*+/=?^_`{|}~-]+)*|(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])'
    type: string
    (oas-format): merchant_common_email_address_v2
  MCCS-v1-schema-CC-v3-json-openapi-2-payer_id-json:
    description: 'The PayPal payer ID, which is a masked version of the PayPal account number intended for use with third parties. The account number is reversibly encrypted and a proprietary variant of Base32 is used to encode the result.'
    minLength: 13
    maxLength: 13
    pattern: '^[2-9A-HJ-NP-Z]{13}$'
    type: string
    (oas-format): ppaas_payer_id_v3
  MerchantsCommonComponentsSpecification-v1-schema-phone_with_type-json:
    description: The phone information.
    type: object
    properties:
      phone_type:
        type: MCCS-v1-schema-CC-v3-json-openapi-2-phone_type-json
        required: false
      phone_number:
        type: MCCS-v1-schema-CC-v3-json-openapi-2-phone-json
    (oas-schema-title): Phone
  MCCS-v1-schema-CC-v3-json-openapi-2-phone_type-json:
    description: The phone type.
    type: string
    enum:
      - FAX
      - HOME
      - MOBILE
      - OTHER
      - PAGER
    (oas-schema-title): Phone Type
  MCCS-v1-schema-CC-v3-json-openapi-2-phone-json:
    description: 'The phone number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en).'
    type: object
    properties:
      country_code:
        description: 'The country calling code (CC), in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined length of the CC and the national number must not be greater than 15 digits. The national number consists of a national destination code (NDC) and subscriber number (SN).'
        minLength: 1
        maxLength: 3
        pattern: '^[0-9]{1,3}?$'
        type: string
        (publicDocsSchemaName): country_calling_code
      national_number:
        description: 'The national number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined length of the country calling code (CC) and the national number must not be greater than 15 digits. The national number consists of a national destination code (NDC) and subscriber number (SN).'
        minLength: 1
        maxLength: 14
        pattern: '^[0-9]{1,14}?$'
        type: string
      extension_number:
        description: The extension number.
        minLength: 1
        maxLength: 15
        pattern: '^[0-9]{1,15}?$'
        type: string
        required: false
    (oas-schema-title): Phone
  MCCS-v1-schema-CC-v3-json-openapi-2-date_no_time-json:
    description: 'The stand-alone date, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). To represent special legal values, such as a date of birth, you should use dates with no associated time or time-zone data. Whenever possible, use the standard `date_time` type. This regular expression does not validate all dates. For example, February 31 is valid and nothing is known about leap years.'
    minLength: 10
    maxLength: 10
    pattern: '^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$'
    type: string
    (oas-format): ppaas_date_notime_v2
  MerchantsCommonComponentsSpecification-v1-schema-tax_info-json:
    description: The tax ID of the customer. The customer is also known as the payer. Both `tax_id` and `tax_id_type` are required.
    type: object
    properties:
      tax_id:
        description: 'The customer''s tax ID. Supported for the PayPal payment method only. Typically, the tax ID is 11 characters long for individuals and 14 characters long for businesses.'
        maxLength: 14
        type: string
      tax_id_type:
        description: The customer's tax ID type. Supported for the PayPal payment method only.
        type: string
        (enum):
          - value: BR_CPF
            description: The individual tax ID type.
          - value: BR_CNPJ
            description: The business tax ID type.
    (oas-schema-title): Tax Information
  MCCS-v1-schema-CC-v3-json-openapi-2-address_portable-json:
    description: 'The portable international postal address. Maps to [AddressValidationMetadata](https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata) and HTML 5.1 [Autofilling form controls: the autocomplete attribute](https://www.w3.org/TR/html51/sec-forms.html#autofilling-form-controls-the-autocomplete-attribute).'
    type: object
    properties:
      address_line_1:
        description: 'The first line of the address. For example, number or street. For example, `173 Drury Lane`. Required for data entry and compliance and risk checks. Must contain the full address.'
        maxLength: 300
        type: string
        required: false
      address_line_2:
        description: 'The second line of the address. For example, suite or apartment number.'
        maxLength: 300
        type: string
        required: false
      address_line_3:
        description: 'The third line of the address, if needed. For example, a street complement for Brazil, direction text, such as `next to Walmart`, or a landmark in an Indian address.'
        maxLength: 100
        type: string
        required: false
      admin_area_4:
        description: 'The neighborhood, ward, or district. Smaller than `admin_area_level_3` or `sub_locality`. Value is:<ul><li>The postal sorting code that is used in Guernsey and many French territories, such as French Guiana.</li><li>The fine-grained administrative levels in China.</li></ul>'
        maxLength: 100
        type: string
        required: false
      admin_area_3:
        description: 'A sub-locality, suburb, neighborhood, or district. Smaller than `admin_area_level_2`. Value is:<ul><li>Brazil. Suburb, bairro, or neighborhood.</li><li>India. Sub-locality or district. Street name information is not always available but a sub-locality or district can be a very small area.</li></ul>'
        maxLength: 100
        type: string
        required: false
      admin_area_2:
        description: 'A city, town, or village. Smaller than `admin_area_level_1`.'
        maxLength: 120
        type: string
        required: false
      admin_area_1:
        description: 'The highest level sub-division in a country, which is usually a province, state, or ISO-3166-2 subdivision. Format for postal delivery. For example, `CA` and not `California`. Value, by country, is:<ul><li>UK. A county.</li><li>US. A state.</li><li>Canada. A province.</li><li>Japan. A prefecture.</li><li>Switzerland. A kanton.</li></ul>'
        maxLength: 300
        type: string
        required: false
      postal_code:
        description: 'The postal code, which is the zip code or equivalent. Typically required for countries with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code).'
        maxLength: 60
        type: string
        required: false
      country_code:
        type: MCCS-v1-schema-CC-v3-json-openapi-2-country_code-json
      address_details:
        description: 'The non-portable additional address details that are sometimes needed for compliance, risk, or other scenarios where fine-grain address information might be needed. Not portable with common third party and opensource. Redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number` and `street_name` and `street_type`.'
        type: object
        properties:
          street_number:
            description: The street number.
            maxLength: 100
            type: string
          street_name:
            description: The street name. Just `Drury` in `Drury Lane`.
            maxLength: 100
            type: string
          street_type:
            description: 'The street type. For example, avenue, boulevard, road, or expressway.'
            maxLength: 100
            type: string
          delivery_service:
            description: 'The delivery service. Post office box, bag number, or post office name.'
            maxLength: 100
            type: string
          building_name:
            description: 'A named locations that represents the premise. Usually a building name or number or collection of buildings with a common name or number. For example, <code>Craven House</code>.'
            maxLength: 100
            type: string
          sub_building:
            description: 'The first-order entity below a named building or location that represents the sub-premise. Usually a single building within a collection of buildings with a common name. Can be a flat, story, floor, room, or apartment.'
            maxLength: 100
            type: string
        (oas-schema-title): Address Details
        required: false
    (oas-schema-title): Portable Postal Address (Medium-Grained)
    (pattern):
      oneOf:
      - country_code: AL
        validation_regex: '\d{4}'
      - country_code: AR
        validation_regex: '([A-HJ-NP-Z])?\d{4}([A-Z]{3})?'
      - country_code: AT
        validation_regex: '\d{4}'
      - country_code: AU
        validation_regex: '\d{4}'
      - country_code: BE
        validation_regex: '[1-9]\d{3}'
      - country_code: BG
        validation_regex: '\d{4}'
      - country_code: BN
        validation_regex: '[A-Z]{2}[ ]?\d{4}'
      - country_code: BR
        validation_regex: '\d{5}[\-]?\d{3}'
      - country_code: BT
        validation_regex: '\d{5}'
      - country_code: BY
        validation_regex: '\d{6}'
      - country_code: CA
        validation_regex: '[ABCEGHJKLMNPRSTVXY]\d[ABCEGHJ-NPRSTV-Z][ ]?\d[ABCEGHJ-NPRSTV-Z]\d'
      - country_code: CH
        validation_regex: '\d{4}'
      - country_code: CL
        validation_regex: '\d{7}'
      - country_code: CN
        validation_regex: '\d{6}'
      - country_code: CO
        validation_regex: '\d{6}'
      - country_code: CR
        validation_regex: '\d{4,5}|\d{3}-\d{4}'
      - country_code: CY
        validation_regex: '\d{4}'
      - country_code: CZ
        validation_regex: '\d{3}[ ]?\d{2}'
      - country_code: DE
        validation_regex: '(0[1-9]|[1-9]\d)\d{3}'
      - country_code: DK
        validation_regex: '\d{4}'
      - country_code: DO
        validation_regex: '\d{5}'
      - country_code: EC
        validation_regex: '\d{6}'
      - country_code: EE
        validation_regex: '\d{5}'
      - country_code: ES
        validation_regex: '\d{5}'
      - country_code: FI
        validation_regex: '\d{5}'
      - country_code: FM
        validation_regex: '(9694[1-4])(?:[ \-]?(\d{4}))?'
      - country_code: FO
        validation_regex: '(FO[ \-]?)?\d{3}'
      - country_code: FR
        validation_regex: '\d{2}[ ]?\d{3}'
      - country_code: GB
        validation_regex: 'GIR[ ]?0AA|(?:(?:AB|AL|B|BA|BB|BD|BF|BH|BL|BN|BR|BS|BT|BX|CA|CB|CF|CH|CM|CO|CR|CT|CV|CW|DA|DD|DE|DG|DH|DL|DN|DT|DY|E|EC|EH|EN|EX|FK|FY|G|GL|GY|GU|HA|HD|HG|HP|HR|HS|HU|HX|IG|IM|IP|IV|JE|KA|KT|KW|KY|L|LA|LD|LE|LL|LN|LS|LU|M|ME|MK|ML|N|NE|NG|NN|NP|NR|NW|OL|OX|PA|PE|PH|PL|PO|PR|RG|RH|RM|S|SA|SE|SG|SK|SL|SM|SN|SO|SP|SR|SS|ST|SW|SY|TA|TD|TF|TN|TQ|TR|TS|TW|UB|W|WA|WC|WD|WF|WN|WR|WS|WV|YO|ZE)(?:\d[\dA-Z]?[ ]?\d[ABD-HJLN-UW-Z]{2}))|BFPO[ ]?\d{1,4}'
      - country_code: GF
        validation_regex: '9[78]3\d{2}'
      - country_code: GL
        validation_regex: '(DK-?)?39\d{2}'
      - country_code: GP
        validation_regex: '9[78][01]\d{2}'
      - country_code: GR
        validation_regex: '\d{3}[ ]?\d{2}'
      - country_code: HR
        validation_regex: '\d{5}'
      - country_code: HU
        validation_regex: '\d{4}'
      - country_code: ID
        validation_regex: '\d{5}'
      - country_code: IE
        validation_regex: '[A-Za-z0-9 \-]{1,10}'
      - country_code: IL
        validation_regex: '\d{5}(\d{2})?'
      - country_code: IN
        validation_regex: '\d{3}[ ]?\d{3}'
      - country_code: IS
        validation_regex: '\d{3}'
      - country_code: IT
        validation_regex: '\d{5}'
      - country_code: JP
        validation_regex: '\d{3}-?\d{4}'
      - country_code: KG
        validation_regex: '\d{6}'
      - country_code: KH
        validation_regex: '\d{5}'
      - country_code: KR
        validation_regex: '\d{5}'
      - country_code: KW
        validation_regex: '\d{5}'
      - country_code: KZ
        validation_regex: '\d{6}'
      - country_code: LA
        validation_regex: '\d{5}'
      - country_code: LK
        validation_regex: '\d{5}'
      - country_code: LT
        validation_regex: '\d{5}'
      - country_code: LU
        validation_regex: '\d{4}'
      - country_code: LV
        validation_regex: 'LV-\d{4}'
      - country_code: MA
        validation_regex: '\d{5}'
      - country_code: MC
        validation_regex: '980\d{2}'
      - country_code: MD
        validation_regex: '\d{4}'
      - country_code: ME
        validation_regex: '8\d{4}'
      - country_code: MK
        validation_regex: '\d{4}'
      - country_code: MN
        validation_regex: '\d{5}'
      - country_code: MQ
        validation_regex: '9[78]2\d{2}'
      - country_code: MT
        validation_regex: '[A-Z]{3}[ ]?\d{2,4}'
      - country_code: MU
        validation_regex: '\d{3}(?:\d{2}|[A-Z]{2}\d{3})'
      - country_code: MV
        validation_regex: '\d{5}'
      - country_code: MX
        validation_regex: '\d{5}'
      - country_code: MY
        validation_regex: '\d{5}'
      - country_code: NG
        validation_regex: '\d{6}'
      - country_code: NL
        validation_regex: '\d{4}[ ]?[A-Z]{2}'
      - country_code: 'NO'
        validation_regex: '\d{4}'
      - country_code: NP
        validation_regex: '\d{5}'
      - country_code: NZ
        validation_regex: '\d{4}'
      - country_code: OM
        validation_regex: '(?:PC )?\d{3}'
      - country_code: PE
        validation_regex: '(?:LIMA[ ]?\d{1,2}|CALLAO[ ]?0?\d)|[0-2]?\d{1,4}'
      - country_code: PH
        validation_regex: '\d{4}'
      - country_code: PL
        validation_regex: '\d{2}-\d{3}'
      - country_code: PT
        validation_regex: '\d{4}([\-]?\d{3})?'
      - country_code: PY
        validation_regex: '\d{4}'
      - country_code: RE
        validation_regex: '9[78]4\d{2}'
      - country_code: RO
        validation_regex: '\d{6}'
      - country_code: RS
        validation_regex: '\d{5,6}'
      - country_code: RU
        validation_regex: '[1-9]\d{5}'
      - country_code: SA
        validation_regex: '\d{5}([\-]?\d{4})?'
      - country_code: SE
        validation_regex: '\d{3}[ ]?\d{2}'
      - country_code: SG
        validation_regex: '\d{6}'
      - country_code: SI
        validation_regex: '\d{4}'
      - country_code: SK
        validation_regex: '\d{3}[ ]?\d{2}'
      - country_code: SM
        validation_regex: 4789\d
      - country_code: SV
        validation_regex: '(?:CP[ ]?)?[1-3][1-7][0-2]\d'
      - country_code: TH
        validation_regex: '\d{5}'
      - country_code: TR
        validation_regex: '\d{5}'
      - country_code: TW
        validation_regex: '\d{3}(\d{2})?'
      - country_code: UA
        validation_regex: '\d{5}'
      - country_code: US
        validation_regex: '\d{5}([ \-]?\d{4})?'
      - country_code: UY
        validation_regex: '[1-9]\d{4}'
      - country_code: VA
        validation_regex: '00120'
      - country_code: VE
        validation_regex: '[1-8]\d{3}([\-]?[A-Z])?'
      - country_code: VN
        validation_regex: '\d{6}'
      - country_code: YT
        validation_regex: '976\d{2}'
      - country_code: ZA
        validation_regex: '\d{4}'
      - country_code: C2
        validation_regex: '\d{6}'
  MCCS-v1-schema-CC-v3-json-openapi-2-country_code-json:
    description: 'The [two-character ISO 3166-1 code](/docs/integration/direct/rest/country-codes/) that identifies the country or region.<blockquote><strong>Note:</strong> The country code for Great Britain is <code>GB</code> and not <code>UK</code> as used in the top-level domain names for that country. Use the `C2` country code for China worldwide for comparable uncontrolled price (CUP) method, bank card, and cross-border transactions.</blockquote>'
    maxLength: 2
    minLength: 2
    pattern: '^([A-Z]{2}|C2)$'
    type: string
    (oas-format): ppaas_common_country_code_v2
  purchase_unit-json:
    description: The purchase unit details. Used to capture required information for the payment contract.
    type: object
    properties:
      reference_id:
        description: The API caller-provided external ID for the purchase unit. Required for multiple purchase units when you must update the order through `PATCH`.
        maxLength: 256
        type: string
      amount:
        type: MerchantsCommonComponentsSpecification-v1-schema-amount_with_breakdown-json
      payee:
        description: The merchant who receives payment for this transaction.
        type: MerchantsCommonComponentsSpecification-v1-schema-payee-json
      payment_instruction:
        type: MerchantsCommonComponentsSpecification-v1-schema-payment_instruction-json
      description:
        description: The purchase description.
        maxLength: 127
        type: string
      custom_id:
        description: The API caller-provided external ID. Used to reconcile API caller-initiated transactions with PayPal transactions. Appears in transaction and settlement reports.
        maxLength: 127
        type: string
      invoice_id:
        description: The API caller-provided external invoice ID for this order.
        maxLength: 127
        type: string
      id:
        description: 'PayPal Generated identifier for the purchase_unit. This identifier appears in both the payer''s transaction history and the emails that the payer receives. In addition, this identifier will be available in transaction/settlement reports that can be used by merchants/API Caller to reconcile transaction. This identifier is only available when an order is saved by calling v2/checkout/orders/id/save.'
        maxLength: 19
        type: string
        (visibility):
          extent: LIMITED_RELEASE
      soft_descriptor:
        description: The payment descriptor on the customer's credit card statement of account transactions.
        maxLength: 22
        type: string
      items:
        description: An array of items that the customer is purchasing from the merchant.
        type: array
        items:
          description: An item.
          type: MerchantsCommonComponentsSpecification-v1-schema-item-json
          (publicDocsSchemaName): item
      shipping:
        description: The shipping address and method.
        type: MerchantsCommonComponentsSpecification-v1-schema-shipping_detail-json
      payments:
        description: The comprehensive history of payments for the purchase unit.
[...]
