{
  "swagger": "2.0",
  "info": {
    "title": "PayPal Payments v2",
    "description": "Call the Payments API to authorize payments, capture authorized payments, refund payments that have already been captured, and show payment information. Use the Payments API in conjunction with the <a href=\"/docs/limited-release/orders/api/\">Orders API</a>.",
    "version": "2.0"
  },
  "host": "api.paypal.com",
  "basePath": "/v2/payments",
  "schemes": [
    "HTTPS"
  ],
  "paths": {
    "/authorizations/{authorization_id}": {
      "get": {
        "operationId": "authorizations.get",
        "description": "Shows details for an authorized payment, by ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization_id",
            "description": "The ID of the authorized payment for which to show details.",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP <code>200 OK</code> status code and a JSON response body that shows authorization details.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "description": "The authorized payment transaction.",
              "x-oas-schema-title": "Authorization",
              "x-visibility": {
                "extent": "EXTERNAL"
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "update_time",
                "expiration_time",
                "create_time",
                "seller_protection",
                "id",
                "amount",
                "invoice_id",
                "status",
                "links"
              ],
              "properties": {
                "update_time": {
                  "description": "The date and time when the transaction was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
                  "x-oas-readOnly": true,
                  "type": "string",
                  "pattern": "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$",
                  "minLength": 20,
                  "maxLength": 64
                },
                "expiration_time": {
                  "description": "The date and time when the authorized payment expires, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
                  "x-oas-readOnly": true,
                  "type": "string",
                  "pattern": "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$",
                  "minLength": 20,
                  "maxLength": 64
                },
                "create_time": {
                  "description": "The date and time when the transaction occurred, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
                  "x-oas-readOnly": true,
                  "type": "string",
                  "pattern": "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$",
                  "minLength": 20,
                  "maxLength": 64
                },
                "seller_protection": {
                  "description": "The level of protection offered as defined by [PayPal Seller Protection for Merchants](https://www.paypal.com/us/webapps/mpp/security/seller-protection).",
                  "x-oas-readOnly": true,
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "status",
                    "dispute_categories"
                  ],
                  "properties": {
                    "status": {
                      "description": "Indicates whether the transaction is eligible for seller protection. For information, see [PayPal Seller Protection for Merchants](https://www.paypal.com/us/webapps/mpp/security/seller-protection).",
                      "x-oas-readOnly": true,
                      "x-enum": [
                        {
                          "value": "ELIGIBLE",
                          "description": "Your PayPal balance remains intact if the customer claims that he or she did not receive an item or the account holder claims that he or she did not authorize the payment."
                        },
                        {
                          "value": "PARTIALLY_ELIGIBLE",
                          "description": "Your PayPal balance remains intact if the customer claims that he or she did not receive an item."
                        },
                        {
                          "value": "NOT_ELIGIBLE",
                          "description": "This transaction is not eligible for seller protection."
                        }
                      ],
                      "type": "string"
                    },
                    "dispute_categories": {
                      "description": "An array of conditions that are covered for the transaction.",
                      "x-oas-readOnly": true,
                      "type": "array",
                      "items": {
                        "description": "The condition that is covered for the transaction.",
                        "x-publicDocsSchemaName": "dispute_category",
                        "x-enum": [
                          {
                            "value": "ITEM_NOT_RECEIVED",
                            "description": "The payer paid for an item that he or she did not receive."
                          },
                          {
                            "value": "UNAUTHORIZED_TRANSACTION",
                            "description": "The payer did not authorize the payment."
                          }
                        ],
                        "type": "string"
                      }
                    }
                  }
                },
                "id": {
                  "description": "The PayPal-generated ID for the authorized payment.",
                  "x-oas-readOnly": true,
                  "type": "string"
                },
                "amount": {
                  "description": "The amount for this authorized payment.",
                  "x-oas-readOnly": true,
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "currency_code",
                    "value"
                  ],
                  "properties": {
                    "currency_code": {
                      "description": "The [three-character ISO-4217 currency code](/docs/integration/direct/rest/currency-codes/) that identifies the currency.",
                      "x-oas-format": "ppaas_common_currency_code_v2",
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 3
                    },
                    "value": {
                      "description": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/docs/integration/direct/rest/currency-codes/).",
                      "type": "string",
                      "pattern": "^((-?[0-9]+)|(-?([0-9]+)?[.][0-9]+))$",
                      "maxLength": 32
                    }
                  }
                },
                "invoice_id": {
                  "description": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives.",
                  "x-oas-readOnly": true,
                  "type": "string"
                },
                "status": {
                  "description": "The status for the authorized payment.",
                  "x-oas-readOnly": true,
                  "x-enum": [
                    {
                      "value": "CREATED",
                      "description": "The authorized payment is created. No captured payments have been made for this authorized payment."
                    },
                    {
                      "value": "CAPTURED",
                      "description": "The authorized payment has one or more captures against it. The sum of these captured payments is greater than the amount of the original authorized payment."
                    },
                    {
                      "value": "DENIED",
                      "description": "PayPal cannot authorize funds for this authorized payment."
                    },
                    {
                      "value": "EXPIRED",
                      "description": "The authorized payment has expired."
                    },
                    {
                      "value": "PARTIALLY_CAPTURED",
                      "description": "A captured payment was made for the authorized payment for an amount that is less than the amount of the original authorized payment."
                    },
                    {
                      "value": "VOIDED",
                      "description": "The authorized payment was voided. No more captured payments can be made against this authorized payment."
                    }
                  ],
                  "type": "string"
                },
                "links": {
                  "description": "An array of related [HATEOAS links](/docs/api/overview/#hateoas-links).",
                  "x-oas-readOnly": true,
                  "type": "array",
                  "items": {
                    "description": "The request-related [HATEOAS link](/docs/api/overview/#hateoas-links) information.",
                    "x-publicDocsSchemaName": "link_description",
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "href",
                      "rel"
                    ],
                    "properties": {
                      "href": {
                        "description": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.",
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "rel": {
                        "description": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).",
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "method": {
                        "description": "The HTTP method required to make the related call.",
                        "enum": [
                          "GET",
                          "POST",
                          "PUT",
                          "DELETE",
                          "HEAD",
                          "CONNECT",
                          "OPTIONS",
                          "PATCH"
                        ],
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "title": {
                        "description": "The link title.",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "mediaType": {
                        "description": "The media type, as defined by [RFC 2046](https://www.ietf.org/rfc/rfc2046.txt). Describes the link target.",
                        "x-publicDocsSchemaName": "media_type",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "encType": {
                        "description": "The media type in which to submit the request data.",
                        "default": "application/json",
                        "x-publicDocsSchemaName": "enc_type",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "schema": {
                        "description": "The schema that describes the request data.",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "additionalItems",
                          "dependencies",
                          "items",
                          "definitions",
                          "patternProperties",
                          "properties",
                          "allOf",
                          "anyOf",
                          "oneOf",
                          "not",
                          "links",
                          "fragmentResolution",
                          "media",
                          "pathStart"
                        ],
                        "properties": {
                          "additionalItems": {
                            "description": "Any additional items.",
                            "x-oas-schema-title": "Additional Items",
                            "x-publicDocsSchemaName": "additional_items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dependencies": {
                            "x-oas-schema-title": "Dependencies",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "description": "An item.",
                            "x-oas-schema-title": "Items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "definitions": {
                            "x-oas-schema-title": "Definitions",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patternProperties": {
                            "description": "The pattern properties.",
                            "x-oas-schema-title": "Pattern Properties",
                            "x-publicDocsSchemaName": "pattern_properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "x-oas-schema-title": "Properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allOf": {
                            "description": "An array of sub-schemas. The data must validate against all sub-schemas.",
                            "x-publicDocsSchemaName": "all_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "All Of Item",
                              "x-publicDocsSchemaName": "all_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "anyOf": {
                            "description": "An array of sub-schemas. The data must validate against one or more sub-schemas.",
                            "x-publicDocsSchemaName": "any_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "Any Of Item",
                              "x-publicDocsSchemaName": "any_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "oneOf": {
                            "description": "An array of sub-schemas. The data must validate against one sub-schema.",
                            "x-publicDocsSchemaName": "one_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "One Of Item",
                              "x-publicDocsSchemaName": "one_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "not": {
                            "x-oas-schema-title": "Not",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "description": "An array of links.",
                            "x-oas-readOnly": true,
                            "type": "array",
                            "items": {
                              "description": "A link.",
                              "x-oas-schema-title": "Link",
                              "x-oas-readOnly": true,
                              "x-publicDocsSchemaName": "link",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fragmentResolution": {
                            "description": "The fragment resolution.",
                            "x-publicDocsSchemaName": "fragment_resolution",
                            "type": "string"
                          },
                          "media": {
                            "description": "The media type and context-encoding scheme.",
                            "x-oas-schema-title": "Media",
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                              "type",
                              "binaryEncoding"
                            ],
                            "properties": {
                              "type": {
                                "description": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046).",
                                "type": "string"
                              },
                              "binaryEncoding": {
                                "description": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045).",
                                "x-publicDocsSchemaName": "binary_encoding",
                                "type": "string"
                              }
                            }
                          },
                          "pathStart": {
                            "description": "To apply this schema to the instances' URIs, start the URIs with this value.",
                            "x-oas-format": "uri",
                            "x-publicDocsSchemaName": "path_start",
                            "type": "string"
                          }
                        }
                      },
                      "targetSchema": {
                        "description": "The schema that describes the link target.",
                        "x-publicDocsSchemaName": "target_schema",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "additionalItems",
                          "dependencies",
                          "items",
                          "definitions",
                          "patternProperties",
                          "properties",
                          "allOf",
                          "anyOf",
                          "oneOf",
                          "not",
                          "links",
                          "fragmentResolution",
                          "media",
                          "pathStart"
                        ],
                        "properties": {
                          "additionalItems": {
                            "description": "Any additional items.",
                            "x-oas-schema-title": "Additional Items",
                            "x-publicDocsSchemaName": "additional_items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dependencies": {
                            "x-oas-schema-title": "Dependencies",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "description": "An item.",
                            "x-oas-schema-title": "Items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "definitions": {
                            "x-oas-schema-title": "Definitions",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patternProperties": {
                            "description": "The pattern properties.",
                            "x-oas-schema-title": "Pattern Properties",
                            "x-publicDocsSchemaName": "pattern_properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "x-oas-schema-title": "Properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allOf": {
                            "description": "An array of sub-schemas. The data must validate against all sub-schemas.",
                            "x-publicDocsSchemaName": "all_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "All Of Item",
                              "x-publicDocsSchemaName": "all_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "anyOf": {
                            "description": "An array of sub-schemas. The data must validate against one or more sub-schemas.",
                            "x-publicDocsSchemaName": "any_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "Any Of Item",
                              "x-publicDocsSchemaName": "any_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "oneOf": {
                            "description": "An array of sub-schemas. The data must validate against one sub-schema.",
                            "x-publicDocsSchemaName": "one_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "One Of Item",
                              "x-publicDocsSchemaName": "one_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "not": {
                            "x-oas-schema-title": "Not",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "description": "An array of links.",
                            "x-oas-readOnly": true,
                            "type": "array",
                            "items": {
                              "description": "A link.",
                              "x-oas-schema-title": "Link",
                              "x-oas-readOnly": true,
                              "x-publicDocsSchemaName": "link",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fragmentResolution": {
                            "description": "The fragment resolution.",
                            "x-publicDocsSchemaName": "fragment_resolution",
                            "type": "string"
                          },
                          "media": {
                            "description": "The media type and context-encoding scheme.",
                            "x-oas-schema-title": "Media",
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                              "type",
                              "binaryEncoding"
                            ],
                            "properties": {
                              "type": {
                                "description": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046).",
                                "type": "string"
                              },
                              "binaryEncoding": {
                                "description": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045).",
                                "x-publicDocsSchemaName": "binary_encoding",
                                "type": "string"
                              }
                            }
                          },
                          "pathStart": {
                            "description": "To apply this schema to the instances' URIs, start the URIs with this value.",
                            "x-oas-format": "uri",
                            "x-publicDocsSchemaName": "path_start",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "description": "The error details.",
              "x-oas-schema-title": "Error",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name",
                "message",
                "debug_id"
              ],
              "properties": {
                "name": {
                  "description": "The human-readable, unique name of the error.",
                  "type": "string"
                },
                "message": {
                  "description": "The message that describes the error.",
                  "type": "string"
                },
                "debug_id": {
                  "description": "The PayPal internal ID that is used for correlation purposes.",
                  "type": "string"
                },
                "information_link": {
                  "description": "The information link, or URI, that shows detailed information about this error for the developer.",
                  "x-oas-readOnly": true,
                  "type": "string"
                },
                "details": {
                  "description": "An array of additional details about the error.",
                  "type": "array",
                  "items": {
                    "description": "The error details. Required for client-side `4XX` errors.",
                    "x-publicDocsSchemaName": "error_details",
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "issue"
                    ],
                    "properties": {
                      "field": {
                        "description": "The field that caused the error. If the field is in the body, set this value to the JSON pointer to that field. Required for client-side errors.",
                        "type": "string"
                      },
                      "value": {
                        "description": "The value of the field that caused the error.",
                        "type": "string"
                      },
                      "location": {
                        "description": "The location of the field that caused the error. Value is `body`, `path`, or `query`.",
                        "default": "body",
                        "type": "string"
                      },
                      "issue": {
                        "description": "The unique and fine-grained application-level error code.",
                        "type": "string"
                      },
                      "description": {
                        "description": "The human-readable description for an issue. The description MAY change over the lifetime of an API, so clients **MUST NOT** depend on this value.",
                        "type": "string"
                      }
                    }
                  }
                },
                "links": {
                  "description": "An array of request-related [HATEOAS links](/docs/api/overview/#hateoas-links).",
                  "x-oas-readOnly": true,
                  "type": "array",
                  "items": {
                    "description": "The request-related [HATEOAS link](/docs/api/overview/#hateoas-links) information.",
                    "x-oas-readOnly": true,
                    "x-publicDocsSchemaName": "link_description",
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "rel",
                      "href"
                    ],
                    "properties": {
                      "schema": {
                        "description": "The schema that describes the request data.",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "additionalItems",
                          "dependencies",
                          "items",
                          "definitions",
                          "patternProperties",
                          "properties",
                          "allOf",
                          "anyOf",
                          "oneOf",
                          "not",
                          "links",
                          "fragmentResolution",
                          "media",
                          "pathStart"
                        ],
                        "properties": {
                          "additionalItems": {
                            "description": "Any additional items.",
                            "x-oas-schema-title": "Additional Items",
                            "x-publicDocsSchemaName": "additional_items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dependencies": {
                            "x-oas-schema-title": "Dependencies",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "description": "An item.",
                            "x-oas-schema-title": "Items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "definitions": {
                            "x-oas-schema-title": "Definitions",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patternProperties": {
                            "description": "The pattern properties.",
                            "x-oas-schema-title": "Pattern Properties",
                            "x-publicDocsSchemaName": "pattern_properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "x-oas-schema-title": "Properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allOf": {
                            "description": "An array of sub-schemas. The data must validate against all sub-schemas.",
                            "x-publicDocsSchemaName": "all_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "All Of Item",
                              "x-publicDocsSchemaName": "all_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "anyOf": {
                            "description": "An array of sub-schemas. The data must validate against one or more sub-schemas.",
                            "x-publicDocsSchemaName": "any_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "Any Of Item",
                              "x-publicDocsSchemaName": "any_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "oneOf": {
                            "description": "An array of sub-schemas. The data must validate against one sub-schema.",
                            "x-publicDocsSchemaName": "one_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "One Of Item",
                              "x-publicDocsSchemaName": "one_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "not": {
                            "x-oas-schema-title": "Not",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "description": "An array of links.",
                            "x-oas-readOnly": true,
                            "type": "array",
                            "items": {
                              "description": "A link.",
                              "x-oas-schema-title": "Link",
                              "x-oas-readOnly": true,
                              "x-publicDocsSchemaName": "link",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fragmentResolution": {
                            "description": "The fragment resolution.",
                            "x-publicDocsSchemaName": "fragment_resolution",
                            "type": "string"
                          },
                          "media": {
                            "description": "The media type and context-encoding scheme.",
                            "x-oas-schema-title": "Media",
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                              "type",
                              "binaryEncoding"
                            ],
                            "properties": {
                              "type": {
                                "description": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046).",
                                "type": "string"
                              },
                              "binaryEncoding": {
                                "description": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045).",
                                "x-publicDocsSchemaName": "binary_encoding",
                                "type": "string"
                              }
                            }
                          },
                          "pathStart": {
                            "description": "To apply this schema to the instances' URIs, start the URIs with this value.",
                            "x-oas-format": "uri",
                            "x-publicDocsSchemaName": "path_start",
                            "type": "string"
                          }
                        }
                      },
                      "rel": {
                        "description": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).",
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "href": {
                        "description": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.",
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "targetSchema": {
                        "description": "The schema that describes the link target.",
                        "x-publicDocsSchemaName": "target_schema",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "additionalItems",
                          "dependencies",
                          "items",
                          "definitions",
                          "patternProperties",
                          "properties",
                          "allOf",
                          "anyOf",
                          "oneOf",
                          "not",
                          "links",
                          "fragmentResolution",
                          "media",
                          "pathStart"
                        ],
                        "properties": {
                          "additionalItems": {
                            "description": "Any additional items.",
                            "x-oas-schema-title": "Additional Items",
                            "x-publicDocsSchemaName": "additional_items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dependencies": {
                            "x-oas-schema-title": "Dependencies",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "description": "An item.",
                            "x-oas-schema-title": "Items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "definitions": {
                            "x-oas-schema-title": "Definitions",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patternProperties": {
                            "description": "The pattern properties.",
                            "x-oas-schema-title": "Pattern Properties",
                            "x-publicDocsSchemaName": "pattern_properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "x-oas-schema-title": "Properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allOf": {
                            "description": "An array of sub-schemas. The data must validate against all sub-schemas.",
                            "x-publicDocsSchemaName": "all_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "All Of Item",
                              "x-publicDocsSchemaName": "all_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "anyOf": {
                            "description": "An array of sub-schemas. The data must validate against one or more sub-schemas.",
                            "x-publicDocsSchemaName": "any_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "Any Of Item",
                              "x-publicDocsSchemaName": "any_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "oneOf": {
                            "description": "An array of sub-schemas. The data must validate against one sub-schema.",
                            "x-publicDocsSchemaName": "one_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "One Of Item",
                              "x-publicDocsSchemaName": "one_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "not": {
                            "x-oas-schema-title": "Not",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "description": "An array of links.",
                            "x-oas-readOnly": true,
                            "type": "array",
                            "items": {
                              "description": "A link.",
                              "x-oas-schema-title": "Link",
                              "x-oas-readOnly": true,
                              "x-publicDocsSchemaName": "link",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fragmentResolution": {
                            "description": "The fragment resolution.",
                            "x-publicDocsSchemaName": "fragment_resolution",
                            "type": "string"
                          },
                          "media": {
                            "description": "The media type and context-encoding scheme.",
                            "x-oas-schema-title": "Media",
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                              "type",
                              "binaryEncoding"
                            ],
                            "properties": {
                              "type": {
                                "description": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046).",
                                "type": "string"
                              },
                              "binaryEncoding": {
                                "description": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045).",
                                "x-publicDocsSchemaName": "binary_encoding",
                                "type": "string"
                              }
                            }
                          },
                          "pathStart": {
                            "description": "To apply this schema to the instances' URIs, start the URIs with this value.",
                            "x-oas-format": "uri",
                            "x-publicDocsSchemaName": "path_start",
                            "type": "string"
                          }
                        }
                      },
                      "title": {
                        "description": "The link title.",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "method": {
                        "description": "The HTTP method required to make the related call.",
                        "enum": [
                          "GET",
                          "POST",
                          "PUT",
                          "DELETE",
                          "HEAD",
                          "CONNECT",
                          "OPTIONS",
                          "PATCH"
                        ],
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "mediaType": {
                        "description": "The media type, as defined by [RFC 2046](https://www.ietf.org/rfc/rfc2046.txt). Describes the link target.",
                        "x-publicDocsSchemaName": "media_type",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "encType": {
                        "description": "The media type in which to submit the request data.",
                        "default": "application/json",
                        "x-publicDocsSchemaName": "enc_type",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The request failed because the caller has insufficient permissions.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "description": "The error details.",
              "x-oas-schema-title": "Error",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name",
                "message",
                "debug_id"
              ],
              "properties": {
                "name": {
                  "description": "The human-readable, unique name of the error.",
                  "type": "string"
                },
                "message": {
                  "description": "The message that describes the error.",
                  "type": "string"
                },
                "debug_id": {
                  "description": "The PayPal internal ID that is used for correlation purposes.",
                  "type": "string"
                },
                "information_link": {
                  "description": "The information link, or URI, that shows detailed information about this error for the developer.",
                  "x-oas-readOnly": true,
                  "type": "string"
                },
                "details": {
                  "description": "An array of additional details about the error.",
                  "type": "array",
                  "items": {
                    "description": "The error details. Required for client-side `4XX` errors.",
                    "x-publicDocsSchemaName": "error_details",
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "issue"
                    ],
                    "properties": {
                      "field": {
                        "description": "The field that caused the error. If the field is in the body, set this value to the JSON pointer to that field. Required for client-side errors.",
                        "type": "string"
                      },
                      "value": {
                        "description": "The value of the field that caused the error.",
                        "type": "string"
                      },
                      "location": {
                        "description": "The location of the field that caused the error. Value is `body`, `path`, or `query`.",
                        "default": "body",
                        "type": "string"
                      },
                      "issue": {
                        "description": "The unique and fine-grained application-level error code.",
                        "type": "string"
                      },
                      "description": {
                        "description": "The human-readable description for an issue. The description MAY change over the lifetime of an API, so clients **MUST NOT** depend on this value.",
                        "type": "string"
                      }
                    }
                  }
                },
                "links": {
                  "description": "An array of request-related [HATEOAS links](/docs/api/overview/#hateoas-links).",
                  "x-oas-readOnly": true,
                  "type": "array",
                  "items": {
                    "description": "The request-related [HATEOAS link](/docs/api/overview/#hateoas-links) information.",
                    "x-oas-readOnly": true,
                    "x-publicDocsSchemaName": "link_description",
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "rel",
                      "href"
                    ],
                    "properties": {
                      "schema": {
                        "description": "The schema that describes the request data.",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "additionalItems",
                          "dependencies",
                          "items",
                          "definitions",
                          "patternProperties",
                          "properties",
                          "allOf",
                          "anyOf",
                          "oneOf",
                          "not",
                          "links",
                          "fragmentResolution",
                          "media",
                          "pathStart"
                        ],
                        "properties": {
                          "additionalItems": {
                            "description": "Any additional items.",
                            "x-oas-schema-title": "Additional Items",
                            "x-publicDocsSchemaName": "additional_items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dependencies": {
                            "x-oas-schema-title": "Dependencies",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "description": "An item.",
                            "x-oas-schema-title": "Items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "definitions": {
                            "x-oas-schema-title": "Definitions",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patternProperties": {
                            "description": "The pattern properties.",
                            "x-oas-schema-title": "Pattern Properties",
                            "x-publicDocsSchemaName": "pattern_properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "x-oas-schema-title": "Properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allOf": {
                            "description": "An array of sub-schemas. The data must validate against all sub-schemas.",
                            "x-publicDocsSchemaName": "all_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "All Of Item",
                              "x-publicDocsSchemaName": "all_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "anyOf": {
                            "description": "An array of sub-schemas. The data must validate against one or more sub-schemas.",
                            "x-publicDocsSchemaName": "any_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "Any Of Item",
                              "x-publicDocsSchemaName": "any_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "oneOf": {
                            "description": "An array of sub-schemas. The data must validate against one sub-schema.",
                            "x-publicDocsSchemaName": "one_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "One Of Item",
                              "x-publicDocsSchemaName": "one_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "not": {
                            "x-oas-schema-title": "Not",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "description": "An array of links.",
                            "x-oas-readOnly": true,
                            "type": "array",
                            "items": {
                              "description": "A link.",
                              "x-oas-schema-title": "Link",
                              "x-oas-readOnly": true,
                              "x-publicDocsSchemaName": "link",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fragmentResolution": {
                            "description": "The fragment resolution.",
                            "x-publicDocsSchemaName": "fragment_resolution",
                            "type": "string"
                          },
                          "media": {
                            "description": "The media type and context-encoding scheme.",
                            "x-oas-schema-title": "Media",
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                              "type",
                              "binaryEncoding"
                            ],
                            "properties": {
                              "type": {
                                "description": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046).",
                                "type": "string"
                              },
                              "binaryEncoding": {
                                "description": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045).",
                                "x-publicDocsSchemaName": "binary_encoding",
                                "type": "string"
                              }
                            }
                          },
                          "pathStart": {
                            "description": "To apply this schema to the instances' URIs, start the URIs with this value.",
                            "x-oas-format": "uri",
                            "x-publicDocsSchemaName": "path_start",
                            "type": "string"
                          }
                        }
                      },
                      "rel": {
                        "description": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).",
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "href": {
                        "description": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.",
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "targetSchema": {
                        "description": "The schema that describes the link target.",
                        "x-publicDocsSchemaName": "target_schema",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "additionalItems",
                          "dependencies",
                          "items",
                          "definitions",
                          "patternProperties",
                          "properties",
                          "allOf",
                          "anyOf",
                          "oneOf",
                          "not",
                          "links",
                          "fragmentResolution",
                          "media",
                          "pathStart"
                        ],
                        "properties": {
                          "additionalItems": {
                            "description": "Any additional items.",
                            "x-oas-schema-title": "Additional Items",
                            "x-publicDocsSchemaName": "additional_items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dependencies": {
                            "x-oas-schema-title": "Dependencies",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "description": "An item.",
                            "x-oas-schema-title": "Items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "definitions": {
                            "x-oas-schema-title": "Definitions",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patternProperties": {
                            "description": "The pattern properties.",
                            "x-oas-schema-title": "Pattern Properties",
                            "x-publicDocsSchemaName": "pattern_properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "x-oas-schema-title": "Properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allOf": {
                            "description": "An array of sub-schemas. The data must validate against all sub-schemas.",
                            "x-publicDocsSchemaName": "all_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "All Of Item",
                              "x-publicDocsSchemaName": "all_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "anyOf": {
                            "description": "An array of sub-schemas. The data must validate against one or more sub-schemas.",
                            "x-publicDocsSchemaName": "any_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "Any Of Item",
                              "x-publicDocsSchemaName": "any_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "oneOf": {
                            "description": "An array of sub-schemas. The data must validate against one sub-schema.",
                            "x-publicDocsSchemaName": "one_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "One Of Item",
                              "x-publicDocsSchemaName": "one_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "not": {
                            "x-oas-schema-title": "Not",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "description": "An array of links.",
                            "x-oas-readOnly": true,
                            "type": "array",
                            "items": {
                              "description": "A link.",
                              "x-oas-schema-title": "Link",
                              "x-oas-readOnly": true,
                              "x-publicDocsSchemaName": "link",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fragmentResolution": {
                            "description": "The fragment resolution.",
                            "x-publicDocsSchemaName": "fragment_resolution",
                            "type": "string"
                          },
                          "media": {
                            "description": "The media type and context-encoding scheme.",
                            "x-oas-schema-title": "Media",
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                              "type",
                              "binaryEncoding"
                            ],
                            "properties": {
                              "type": {
                                "description": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046).",
                                "type": "string"
                              },
                              "binaryEncoding": {
                                "description": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045).",
                                "x-publicDocsSchemaName": "binary_encoding",
                                "type": "string"
                              }
                            }
                          },
                          "pathStart": {
                            "description": "To apply this schema to the instances' URIs, start the URIs with this value.",
                            "x-oas-format": "uri",
                            "x-publicDocsSchemaName": "path_start",
                            "type": "string"
                          }
                        }
                      },
                      "title": {
                        "description": "The link title.",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "method": {
                        "description": "The HTTP method required to make the related call.",
                        "enum": [
                          "GET",
                          "POST",
                          "PUT",
                          "DELETE",
                          "HEAD",
                          "CONNECT",
                          "OPTIONS",
                          "PATCH"
                        ],
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "mediaType": {
                        "description": "The media type, as defined by [RFC 2046](https://www.ietf.org/rfc/rfc2046.txt). Describes the link target.",
                        "x-publicDocsSchemaName": "media_type",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "encType": {
                        "description": "The media type in which to submit the request data.",
                        "default": "application/json",
                        "x-publicDocsSchemaName": "enc_type",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The request failed because the resource does not exist.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "description": "The error details.",
              "x-oas-schema-title": "Error",
              "type": "object",
              "additionalProperties": true,
              "required": [
                "name",
                "message",
                "debug_id"
              ],
              "properties": {
                "name": {
                  "description": "The human-readable, unique name of the error.",
                  "type": "string"
                },
                "message": {
                  "description": "The message that describes the error.",
                  "type": "string"
                },
                "debug_id": {
                  "description": "The PayPal internal ID that is used for correlation purposes.",
                  "type": "string"
                },
                "information_link": {
                  "description": "The information link, or URI, that shows detailed information about this error for the developer.",
                  "x-oas-readOnly": true,
                  "type": "string"
                },
                "details": {
                  "description": "An array of additional details about the error.",
                  "type": "array",
                  "items": {
                    "description": "The error details. Required for client-side `4XX` errors.",
                    "x-publicDocsSchemaName": "error_details",
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "issue"
                    ],
                    "properties": {
                      "field": {
                        "description": "The field that caused the error. If the field is in the body, set this value to the JSON pointer to that field. Required for client-side errors.",
                        "type": "string"
                      },
                      "value": {
                        "description": "The value of the field that caused the error.",
                        "type": "string"
                      },
                      "location": {
                        "description": "The location of the field that caused the error. Value is `body`, `path`, or `query`.",
                        "default": "body",
                        "type": "string"
                      },
                      "issue": {
                        "description": "The unique and fine-grained application-level error code.",
                        "type": "string"
                      },
                      "description": {
                        "description": "The human-readable description for an issue. The description MAY change over the lifetime of an API, so clients **MUST NOT** depend on this value.",
                        "type": "string"
                      }
                    }
                  }
                },
                "links": {
                  "description": "An array of request-related [HATEOAS links](/docs/api/overview/#hateoas-links).",
                  "x-oas-readOnly": true,
                  "type": "array",
                  "items": {
                    "description": "The request-related [HATEOAS link](/docs/api/overview/#hateoas-links) information.",
                    "x-oas-readOnly": true,
                    "x-publicDocsSchemaName": "link_description",
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "rel",
                      "href"
                    ],
                    "properties": {
                      "schema": {
                        "description": "The schema that describes the request data.",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "additionalItems",
                          "dependencies",
                          "items",
                          "definitions",
                          "patternProperties",
                          "properties",
                          "allOf",
                          "anyOf",
                          "oneOf",
                          "not",
                          "links",
                          "fragmentResolution",
                          "media",
                          "pathStart"
                        ],
                        "properties": {
                          "additionalItems": {
                            "description": "Any additional items.",
                            "x-oas-schema-title": "Additional Items",
                            "x-publicDocsSchemaName": "additional_items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dependencies": {
                            "x-oas-schema-title": "Dependencies",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "description": "An item.",
                            "x-oas-schema-title": "Items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "definitions": {
                            "x-oas-schema-title": "Definitions",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patternProperties": {
                            "description": "The pattern properties.",
                            "x-oas-schema-title": "Pattern Properties",
                            "x-publicDocsSchemaName": "pattern_properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "x-oas-schema-title": "Properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allOf": {
                            "description": "An array of sub-schemas. The data must validate against all sub-schemas.",
                            "x-publicDocsSchemaName": "all_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "All Of Item",
                              "x-publicDocsSchemaName": "all_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "anyOf": {
                            "description": "An array of sub-schemas. The data must validate against one or more sub-schemas.",
                            "x-publicDocsSchemaName": "any_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "Any Of Item",
                              "x-publicDocsSchemaName": "any_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "oneOf": {
                            "description": "An array of sub-schemas. The data must validate against one sub-schema.",
                            "x-publicDocsSchemaName": "one_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "One Of Item",
                              "x-publicDocsSchemaName": "one_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "not": {
                            "x-oas-schema-title": "Not",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "description": "An array of links.",
                            "x-oas-readOnly": true,
                            "type": "array",
                            "items": {
                              "description": "A link.",
                              "x-oas-schema-title": "Link",
                              "x-oas-readOnly": true,
                              "x-publicDocsSchemaName": "link",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fragmentResolution": {
                            "description": "The fragment resolution.",
                            "x-publicDocsSchemaName": "fragment_resolution",
                            "type": "string"
                          },
                          "media": {
                            "description": "The media type and context-encoding scheme.",
                            "x-oas-schema-title": "Media",
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                              "type",
                              "binaryEncoding"
                            ],
                            "properties": {
                              "type": {
                                "description": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046).",
                                "type": "string"
                              },
                              "binaryEncoding": {
                                "description": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045).",
                                "x-publicDocsSchemaName": "binary_encoding",
                                "type": "string"
                              }
                            }
                          },
                          "pathStart": {
                            "description": "To apply this schema to the instances' URIs, start the URIs with this value.",
                            "x-oas-format": "uri",
                            "x-publicDocsSchemaName": "path_start",
                            "type": "string"
                          }
                        }
                      },
                      "rel": {
                        "description": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).",
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "href": {
                        "description": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.",
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "targetSchema": {
                        "description": "The schema that describes the link target.",
                        "x-publicDocsSchemaName": "target_schema",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "additionalItems",
                          "dependencies",
                          "items",
                          "definitions",
                          "patternProperties",
                          "properties",
                          "allOf",
                          "anyOf",
                          "oneOf",
                          "not",
                          "links",
                          "fragmentResolution",
                          "media",
                          "pathStart"
                        ],
                        "properties": {
                          "additionalItems": {
                            "description": "Any additional items.",
                            "x-oas-schema-title": "Additional Items",
                            "x-publicDocsSchemaName": "additional_items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dependencies": {
                            "x-oas-schema-title": "Dependencies",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "description": "An item.",
                            "x-oas-schema-title": "Items",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "definitions": {
                            "x-oas-schema-title": "Definitions",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "patternProperties": {
                            "description": "The pattern properties.",
                            "x-oas-schema-title": "Pattern Properties",
                            "x-publicDocsSchemaName": "pattern_properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "x-oas-schema-title": "Properties",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allOf": {
                            "description": "An array of sub-schemas. The data must validate against all sub-schemas.",
                            "x-publicDocsSchemaName": "all_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "All Of Item",
                              "x-publicDocsSchemaName": "all_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "anyOf": {
                            "description": "An array of sub-schemas. The data must validate against one or more sub-schemas.",
                            "x-publicDocsSchemaName": "any_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "Any Of Item",
                              "x-publicDocsSchemaName": "any_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "oneOf": {
                            "description": "An array of sub-schemas. The data must validate against one sub-schema.",
                            "x-publicDocsSchemaName": "one_of",
                            "type": "array",
                            "items": {
                              "description": "A sub-schema against which the data must validate.",
                              "x-oas-schema-title": "One Of Item",
                              "x-publicDocsSchemaName": "one_of_item",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "not": {
                            "x-oas-schema-title": "Not",
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "description": "An array of links.",
                            "x-oas-readOnly": true,
                            "type": "array",
                            "items": {
                              "description": "A link.",
                              "x-oas-schema-title": "Link",
                              "x-oas-readOnly": true,
                              "x-publicDocsSchemaName": "link",
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fragmentResolution": {
                            "description": "The fragment resolution.",
                            "x-publicDocsSchemaName": "fragment_resolution",
                            "type": "string"
                          },
                          "media": {
                            "description": "The media type and context-encoding scheme.",
                            "x-oas-schema-title": "Media",
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                              "type",
                              "binaryEncoding"
                            ],
                            "properties": {
                              "type": {
                                "description": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046).",
                                "type": "string"
                              },
                              "binaryEncoding": {
                                "description": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045).",
                                "x-publicDocsSchemaName": "binary_encoding",
                                "type": "string"
                              }
                            }
                          },
                          "pathStart": {
                            "description": "To apply this schema to the instances' URIs, start the URIs with this value.",
                            "x-oas-format": "uri",
                            "x-publicDocsSchemaName": "path_start",
                            "type": "string"
                          }
                        }
                      },
                      "title": {
                        "description": "The link title.",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "method": {
                        "description": "The HTTP method required to make the related call.",
                        "enum": [
                          "GET",
                          "POST",
                          "PUT",
                          "DELETE",
                          "HEAD",
                          "CONNECT",
                          "OPTIONS",
                          "PATCH"
                        ],
                        "x-visibility": {
                          "extent": "EXTERNAL"
                        },
                        "type": "string"
                      },
                      "mediaType": {
                        "description": "The media type, as defined by [RFC 2046](https://www.ietf.org/rfc/rfc2046.txt). Describes the link target.",
                        "x-publicDocsSchemaName": "media_type",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      },
                      "encType": {
                        "description": "The media type in which to submit the request data.",
                        "default": "application/json",
                        "x-publicDocsSchemaName": "enc_type",
                        "x-visibility": {
                          "extent": "INTERNAL"
                        },
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The request failed because an internal server error occurred."
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "x-oas-responses-default": {
          "description": "The error response.",
          "body": {
            "application/json": {
              "type": "MCCS-v1-scc-v3-s-j-oa-2_0-error_json"
            }
          }
        },
        "x-oas-summary": "Show details for authorized payment",
        "x-oas-tags": [
          "authorizations"
        ],
        "x-slo": {
          "response_time_95th_percentile": 1000,
          "error_rate": 0.1
        },
        "x-visibility": {
          "extent": "LIMITED_RELEASE"
        }
      }
    },
    "/authorizations/{authorization_id}/capture": {
      "post": {
        "operationId": "authorizations.capture",
        "description": "Captures an authorized payment, by ID.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization_id",
            "description": "The ID of the authorized payment for which to show details.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "PayPal-Request-Id",
            "description": "The server stores keys for 45 days.",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "Prefer",
            "description": "The preferred server response upon successful completion of the request. Value is:<ul><li><code>return=minimal</code>. The server returns a minimal response to optimize communication between the API caller and the server. A minimal response includes the <code>id</code>, <code>status</code> and HATEOAS links.</li><li><code>return=representation</code>. The server returns a complete resource representation, including the current state of the resource.</li></ul>",
            "required": false,
            "in": "header",
            "default": "return=minimal",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "Captures either a portion or the full authorized amount of an authorized payment.",
              "x-oas-body-name": "capture",
              "example": {
                "value": {
                  "amount": {
                    "value": "10.99",
                    "currency_code": "USD"
                  },
                  "invoice_id": "INVOICE-123",
                  "final_capture": true
                }
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "final_capture",
                "amount",
                "invoice_id"
              ],
              "properties": {
                "payment_instruction": {
                  "description": "Any additional payment instructions for PayPal for Partner customers. Enables features for partners and marketplaces, such as delayed disbursement and collection of a platform fee. Applies during order creation for captured payments or during capture of authorized payments.",
                  "x-oas-schema-title": "Payment Instruction",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "platform_fees",
                    "disbursement_mode"
                  ],
                  "properties": {
                    "platform_fees": {
                      "description": "An array of various fees, commissions, tips, or donations.",
                      "type": "array",
[...]
